.supply-overview-container-main {
    margin: 2rem;
}

.supply-overview-container h2,
.supply-overview-container h2 {
   margin-top: 0;
}


@media screen and (max-width: 800px) {

    .supply-overview-container {
       border: 0.1rem solid black;
       padding: 1rem;
       margin-bottom: 2rem;
    }
 
}
 
 
 @media screen and (min-width: 801px) {
 
    .supply-overview-container-main {
       display: grid;
       grid-template-columns: 1fr 1fr;
       column-gap: 2rem;
    }
 
    .supply-overview-container {
       border: 0.1rem solid black;
       padding: 1rem;
       overflow-y: auto;
       max-height: 80vh;
    }
 
 }