.supply-overview-container-main {
    margin: 0rem 2rem;
}

.supply-overview-container {
   border: .2rem solid var(--main-color-4);
   border-radius: 8px;
   padding: 1rem;
   overflow-y: auto;
}

.supply-overview-container h2,
.supply-overview-container h2 {
   margin-top: 0;
}


@media screen and (max-width: 800px) {

    .supply-overview-container {
       margin-bottom: 2rem;
    }
 
}
 
 
 @media screen and (min-width: 801px) {
 
    .supply-overview-container-main {
       display: grid;
       grid-template-columns: 1fr 1fr;
       column-gap: 2rem;
    }
 
    .supply-overview-container {
       max-height: 73vh;
    }
 
 }