#input-price-per-unit {
   text-align: center;
}

.product-selection-input {
   border: .15rem solid var(--main-color-5);
}

.product-selection-input:focus {
   border: .2rem solid var(--main-color-8);
}