.menu-entry {
    position: relative;
}

.menu-entry-button:hover {
    font-weight: bold;
}


@media screen and (max-width: 700px) {

    .menu-entry {
        display: flex;
        flex-direction: column;
    }

    .menu-entry-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: left;
        padding: .5rem;
    }

    .active-menu-entry {
        border-left: .3rem solid red;
    }

    .menu-entry-dropdown {
        background-color: white;
        width: fit-content;
        padding: 1rem;
        margin: .5rem 0rem;
        border-radius: .25rem;
        box-shadow: 0 .2rem .4rem 0 rgba(0, 0, 0, .5);
        overflow: auto;
    }
    
}


@media screen and (min-width: 701px) {

    .menu-entry-button {
        display: flex;
        align-items: center;
        column-gap: .5rem;
        text-align: left;
        padding: .5rem;
        border-radius: 5px;
    }

    .active-menu-entry {
        border-bottom: .3rem solid red;
    }

    .menu-entry-dropdown {
        position: absolute;
        left: 0;
        top: calc(100% + .5rem);
        background-color: white;
        padding: 1rem;
        border-radius: .25rem;
        box-shadow: 0 .2rem .4rem 0 rgba(0, 0, 0, .5);
        overflow: auto;
    }

}