.category-container-top-level {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1.5rem;
}

.category-container-sub-level {
    width: 95%;
    margin-left: 5%;
}

.category-container-sub-level .content-section {
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: .5rem;
}

.category-container-sub-level .itemTable {
    width: 95%;
}

.category {
    width: 100%;
}

.category-bar {
    display: grid;
    grid-template-columns: 5fr 1fr 0.2fr;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    font-weight: bold;
}

.category-bar-sub-level {
    background-color: rgb(160, 202, 216);
    margin-top: .5rem;
}

.category-bar-top-level {
    background-color: rgb(47, 131, 161);
}

.content-section table td:last-child,
.content-section table th:last-child {
    text-align: right;
}