.searchBarContainer {
    display: flex;
    width: 100%;
}

.searchInput {
    border: .1rem solid black;
    border-right: none;
    border-radius: 25px 0px 0px 25px;
    padding: .5rem;
}

.SearchButton {
    width: fit-content;
    border: .1rem solid black;
    border-radius: 0px 25px 25px 0px;
    padding: .5rem;
}