.categoryBar {
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
    width: 80%;
    padding: 0.5rem 0rem 0.5rem 1rem;
    font-weight: bold;
}

.invisible {
    display: none;
}