footer {
    box-sizing: border-box;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: var(--main-color-6);
    color: var(--background-color);
    display: flex;
    width: 100vw;
    height: 2.5vh;
    padding: .3rem 2rem;
    justify-content: space-between;
    font-size: 10pt;
    font-weight: bold;
}