.menu-grocery-dropdown-content {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.menu-grocery-dropdown-content-title {
    font-weight: bold;
}

.menu-grocery-dropdown-content-suboptions {
    display: flex;
    justify-content: space-between;
    column-gap: 2rem;
}

.menu-grocery-dropdown-content-suboptions button {
    width: 6rem;
    background-color: var(--main-color-6);
    border-top: none;
    border-left: none;
    border-right: .15rem solid var(--main-color-3);
    border-bottom: .15rem solid var(--main-color-3);
    border-radius: .25rem;
}

.menu-grocery-dropdown-content-suboptions button:hover {
    background-color: var(--main-color-5);
}

.last-title {
    margin-top: 1rem;
}