.consume-supply-items-main {
   display: flex;
   justify-content: center;
   margin: 0rem 2rem;
}

.consume-supply-items-container {
   border: 1px solid black;
   border-radius: 8px;
   padding: 1rem;
}

.consume-supply-items-container h2 {
   margin-top: 0;
}

.consume-supply-items-button-container {
   display: flex;
   justify-content: flex-end;
   margin-top: 1rem;
}

.consume-supply-items-container button {
   font-weight: bold;
}

.consume-supply-items-item-remove-button {
   width: 100%;
}


@media screen and (min-width: 801px) {

   .consume-supply-items-container{
      width: 70%;
   }

}