:root {
    --border: .15rem solid var(--main-color-5);
}

.counter-container {
    display: flex;
    flex-wrap: nowrap;
}

.counter-value {
    display: flex;
    align-items: center;
    border-top: var(--border);
    border-bottom: var(--border);
    padding: 0rem .5rem;
    vertical-align: middle;
    user-select: none;
    min-width: 3rem;
    background-color: white;
    justify-content: center;
}

.counter-container button {
    border: var(--border);
    background: none;  
}

.counter-container button:hover {
    background-color: var(--main-color-5);
}