.category-container-sub-level .content-section {
    display: flex;
    flex-direction: row-reverse;
}


.category-container-sub-level .itemTable {
    width: 95%;
}


.content-section table td:last-child,
.content-section table th:last-child {
    text-align: right;
}