.add-supply-items-main {
   display: flex;
   justify-content: center;
   margin: 2rem
}

.add-supply-items-container {
   border: 1px solid black;
   border-radius: 8px;
   padding: 1rem;
}


.add-supply-items-container h2 {
   margin-top: 0;
}


.add-supply-items-container button {
   font-weight: bold;
   font-size: medium;
}

.add-supply-items-container table button {
   width: 100%;
}

.add-supply-items-breadcrumb {
   margin-top: 0;
   margin-bottom: 3rem;
}

.add-supply-items-breadcrumb button {
   border: none;
   background-color: white;
   font-weight: normal;
}

.add-supply-items-breadcrumb button:hover {
   text-decoration: underline;
}


@media screen and (min-width: 801px) {

   .add-supply-items-container {
      width: 70%;
   }

}