#supplyOverviewContainer, #upcomingExpirationDatesContainer {
   border: 0.1rem solid black;
   padding: 1rem;
}


@media screen and (max-width: 800px) {

   #supplyOverviewContainer,
   #upcomingExpirationDatesContainer {
      border: 0.1rem solid black;
      padding: 1rem;
      margin-bottom: 2rem;
   }

}


@media screen and (min-width: 801px) {

   main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
   }

   #supplyOverviewContainer,
   #upcomingExpirationDatesContainer {
      border: 0.1rem solid black;
      padding: 1rem;
      overflow-y: auto;
      max-height: 80vh;
   }

}