.home-main {
   margin: 2rem;
}

.home-container h2 {
   margin-top: 0;
}


@media screen and (max-width: 800px) {

   .home-container {
      border: 0.1rem solid black;
      padding: 1rem;
      margin-bottom: 2rem;
   }

}


@media screen and (min-width: 801px) {

   .home-main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 2rem;
   }

   .home-container {
      border: 0.1rem solid black;
      padding: 1rem;
      overflow-y: auto;
      max-height: 80vh;
   }

}