:root {
   --main-color-1:  hsl(108, 45%, 5%);
   --main-color-2:  hsl(108, 45%, 10%);
   --main-color-3:  hsl(108, 45%, 15%);
   --main-color-4:  hsl(108, 45%, 20%);
   --main-color-5:  hsl(108, 45%, 25%);
   --main-color-6:  hsl(108, 45%, 30%);
   --main-color-7:  hsl(108, 45%, 35%);
   --main-color-8:  hsl(108, 45%, 40%);
   --main-color-9:  hsl(108, 45%, 45%);
   --main-color-10: hsl(108, 45%, 50%);
   --main-color-11: hsl(108, 45%, 55%);
   --support-color-success: hsl(108, 45%, 45%);
   --support-color-error: hsl(360, 45%, 45%);
   --background-color: hsl(0, 0%, 88%);
}

body {
   margin: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size: 14pt;
   background-color: var(--background-color);
}

input {
   font-size: 12pt;
}