.product-add-dialog-input-field {
   padding: .5rem;
}

#input-weight-container {
   display: flex;
   justify-content: flex-start;
   column-gap: 1rem;
}

#product-data-add-form {
   display: grid;
   grid-template-columns: 1fr 7fr;
   row-gap: 1rem;
   padding: 2rem 1rem;
}

#product-data-save-button-container {
   display: flex;
   justify-content: flex-end;
   margin-top: 1rem;
   grid-column: 2;
}

.product-data-label {
   font-weight: bold;
   padding: .5rem 0;
}