.added-items-preview-table-container table th:nth-child(4), 
.added-items-preview-table-container table th:nth-child(5),
.added-items-preview-table-container table th:nth-child(6),
.added-items-preview-table-container table td:nth-child(4), 
.added-items-preview-table-container table td:nth-child(5),
.added-items-preview-table-container table td:nth-child(6) {
   text-align: right;
}

.added-items-preview-save-button-container {
   display: flex;
   flex-direction: row-reverse;
   margin-top: 2rem;
}

.added-items-preview-save-button-container button {
  padding: .25rem .5rem;
  border-radius: 25px;
  border: .15rem solid var(--main-color-5);
}

.added-items-preview-save-button-container button:hover,
.added-items-preview-save-button-container button:focus {
   background-color: var(--support-color-error);
}

.added-items-preview-add-item-button,
.added-items-preview-remove-item-button  {
   display: flex;
   justify-content: center;
   border: .15rem solid var(--main-color-5);
}

.added-items-preview-add-item-button:hover,
.added-items-preview-add-item-button:focus {
   background-color: var(--main-color-5);
}

.added-items-preview-remove-item-button:hover,
.added-items-preview-remove-item-button:focus {
   background-color: var(--support-color-error);
}