:root {
    --columnCount: 5;
 }

#container {
    display: grid;
    column-gap: 5%;
    grid-template-columns: repeat(var(--columnCount), 1fr);
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
}

.invisible {
    visibility: hidden;
}

.unrender {
    display: none !important;
}

.menuDropdown {
    display: flex;
    flex-direction: column;
}

button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.menuDropdown button {
    text-align: left;
    border: none;
}

.menuDropdown button:hover {
    text-align: left;
    background-color: lightblue;
}