:root {
    --tablePadding: .25rem .5rem
}

.itemTable {
    width: 100%;
    margin-top: .5rem;
}

.itemTable th {
    color: var(--background-color);
    background-color: var(--main-color-5);
    text-align: left;
    padding: var(--tablePadding);
}

.itemTable tr:nth-child(2n+1) {
    background-color: var(--background-color);
}

.itemTable tr:nth-child(2n) {
    background-color:  rgb(212, 210, 210);
}

.itemTable td {
    padding: var(--tablePadding);
}

.reactElementField {
    text-align: center;
}

.item-table-clickable-row:hover {
    background-color: var(--main-color-11) !important;
}