.product-selection-form {
   display: grid;
   grid-template-columns: 1fr 7fr;
   row-gap: 1rem;
}

.product-selection-form label {
   font-weight: bold;
   padding: .5rem 0;
}

.product-selection-input {
   padding: .5rem;
   width: 6.5rem;
}

.product-selection-input:focus {
   border: .2rem solid var(--main-color-8);
}

.product-selection-add-button-container {
   display: flex;
   justify-content: space-between;
   margin-top: 2rem;
   grid-column: 2;
}

.product-selection-add-button-container button {
   display: flex;
   align-items: center;
   border: .15rem solid var(--main-color-5);
}

.product-selection-add-button-container button:hover,
.product-selection-add-button-container button:focus {
   background-color:  var(--main-color-5);
}